$base: #232136;
$surface: #2a273f;
$overlay: #393552;
$muted: #6e6a86;
$subtle: #908caa;
$text: #e0def4;
$love: #eb6f92;
$gold: #f6c177;
$rose: #ea9a97;
$pine: #3e8fb0;
$foam: #9ccfd8;
$iris: #c4a7e7;
$highlight-low: #2a283e;
$highlight-med: #44415a;
$highlight-high: #56526e;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: rgba(35, 33, 54, 0);
  color: $text;
  padding: 3px 1rem;
}

.powerbar {
  background-color: rgba(35, 33, 54, 0);
  color: $text;
  padding-left: 0.5rem;
  padding-right: 0.1rem;
}
/********************
     calendar
********************/
.calendar {
  all: unset;
  background-color: rgba(35, 33, 54, 0);
  color: $text;
}
.background.calendar {background-color: rgba(35, 33, 54, 0.4);}
.cal:selected {background-color: rgba(235, 188, 186, 0.4);}

/********************
     workspace
********************/
.workspaces button:hover {
  color: $gold;
}

.workspaces {
  padding: 0.6rem 1rem;
}

.workspaces button{
  color: $rose;
}


/********************
     sidestuff
********************/
.sidestuff slider {
  all: unset;
  color: $gold;
}

/********************
     music
********************/
.music_box {
  padding: 0px 1rem;
}
.music_box * {
  padding: 0px 3px;
}

.previous, .next {
  color: $gold;
  font-size: 20px;
}

.play {
  color: $foam;
}

.stop {
  color: $love;
}

.previous:hover, .next:hover, .play:hover, .stop:hover{
  color: $highlight-med;
}

.music_label {
  color: $text;
}
/********************
     volume
********************/
.volume scale trough highlight {
  all: unset;
  background-color: $gold;
  color: #000000;
  border-radius: 10px;
}

.volume label {
  color: $gold;
  font-size: 22px;
  padding-right: 1rem;
}

.volume scale trough {
  all: unset;
  background-color: #6e6e6e;
  border-radius: 50px;
  min-height: 8px;
  min-width: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.volume button:hover label{
  color: $subtle;
}

.volume_popup scale trough highlight {
  background-color: $foam;
  color: #000000;
  border-radius: 10rem;
}
.volume_popup scale trough {
  all: unset;
  background-color: #6e6e6e;
  border-radius: 10rem;
  min-height: 10rem;
  min-width: 2rem;
  margin-left: 0px;
  margin-right: 0px;
}
.volume_popup {
  border-radius: 10rem;
}

.volume_popup label {
  color: $overlay;
  margin-top: -3rem;
  margin-left: -0.5rem;
  font-size: 25px;
}
/********************
     wifi
********************/
.wifi-icon label {
  color: $pine;
  font-size: 20px;
  padding-right: 1rem;
}

.wifi-icon:hover label{
  color: $subtle;
}

.wifi-label {
  font-size: 16px;

}
.wifi_menu {
  padding: 1rem;
}

.quick-settings-icon {
    padding-right: 0.75rem;
}
.quick_settings_button {
    transition: 500ms;
    background-color: $overlay;
    color: $text;
    border-radius: 1rem;
    padding: 0.75rem;
    font-size: 1.05rem;
}

.quick_settings_button:hover {
    background-color: mix($muted, $pine, 70%);
}

.quick_settings_button_toggled {
    background-color: $pine;
    color: $text;
}

.quick_settings_button_toggled:hover {
    background-color: mix($muted, $pine, 70%);
}

.wifi-item box, .wifi-item-enabled box{
    padding: 4px 5px;
}

.wifi-item, .wifi-item-enabled{
    border-radius: 0.5rem;
}

.wifi-item:hover {
    background-color: mix(rgba(156, 207, 216, 0.6), $subtle, 50%);;
}

.wifi-item-enabled:hover {
    background-color: mix(rgba(156, 207, 216, 0.4), $text, 50%);
}

.wifi-item-enabled {
    background-color: rgba(156, 207, 216, 0.4);
}

.wifi-refresh {
    transition: 300ms;
    background-color: rgba(144, 140, 170, 0.4);
    color: $text;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
}

.wifi-refresh:hover {background-color:mix($rose, $subtle, 20%);}
.wifi-refresh:active {background-color:mix($rose, $subtle, 99%);}

.password_box_true {
    background-color:rgba(35, 33, 54, 0.4);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

.password_box_false {
    background-color:transparent;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

.connect_button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(49, 116, 143, 0.4);
}

.connect_button:hover {background-color:mix(rgba(49, 116, 143, 0.7), $subtle, 20%);}
.connect_button:active {background-color:mix(rgba(49, 116, 143, 0.9), $subtle, 99%);}
.selected {background-color:rgba(156, 207, 216, 0.6);}
/********************
     power
********************/

.power label {
  color: $love;
  font-size: 18px;
  padding-left: 0.5rem;
}

.shutdown label{
  color: $love;
  font-size: 18px;
  padding-top: 2px;
}

.logout label{
  color: $foam;
  font-size: 20px;
}

.reboot label{
  color: $iris;
  font-size: 20px;
  padding-top: 2px;
}

.power button:hover label{
  color: $subtle;
}

