* {
  all: unset; // Unsets everything so you can style everything from scratch
}
/*
html {
  --base: #232136;
  --surface: #2a273f;
  --overlay: #393552;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ea9a97;
  --pine: #3e8fb0;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #2a283e;
  --highlight-med: #44415a;
  --highlight-high: #56526e;
}
*/
// Global Styles
.bar {
  background-color: rgba(35, 33, 54, 0);
  color: #e0def4;
  padding: 3px 10px;
  border-radius: 20px;
}

/********************
     calendar
********************/
.calendar {
  all: unset;
  background-color: rgba(35, 33, 54, 0);
  color: #e0def4;
}
.background.calendar {background-color: rgba(35, 33, 54, 0.4);}
.cal:selected {background-color: rgba(235, 188, 186, 0.4);}

/********************
     workspace
********************/
.workspaces button:hover {
  color: #f6c177;
}

.workspaces {
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 10px;
}

.workspaces button{
  color: #ea9a97;
}


/********************
     sidestuff
********************/
.sidestuff slider {
  all: unset;
  color: #f6c177;
}

/********************
     music
********************/
.music_box {
  padding: 0px 10px;
}
.music_box * {
  padding: 0px 3px;
}

.previous, .next {
  color: #f6c177;
  font-size: 20px;
}

.play {
  color: #9ccfd8;
}

.stop {
  color: #eb6f92;
}

.previous:hover, .next:hover, .play:hover, .stop:hover{
  color: #44415a;
}

.music_label {
  color: #e0def4;
}
/********************
     volume
********************/
.volume scale trough highlight {
  all: unset;
  background-color: #f6c177;
  color: #000000;
  border-radius: 10px;
}

.volume label {
  color: #f6c177;
  font-size: 22px;
  padding-right: 5px;
}

.volume scale trough {
  all: unset;
  background-color: #6e6e6e;
  border-radius: 50px;
  min-height: 8px;
  min-width: 50px;
  margin-left: 0px;
  margin-right: 10px;
}

.volume button:hover label{
  color: #908caa;
}
/********************
     wifi
********************/
.wifi-icon label {
  color: #3e8fb0;
  font-size: 20px;
  padding-top: 2px;
  padding-right: 5px;
}

.wifi-icon:hover label{
  color: #908caa;
}
/********************
     power
********************/

.power label {
  color: #eb6f92;
  font-size: 18px;
  padding: 0px 5px;
}

.shutdown label{
  color: #eb6f92;
  font-size: 18px;
  padding-top: 2px;
}

.logout label{
  color: #9ccfd8;
  font-size: 20px;
}

.reboot label{
  color: #c4a7e7;
  font-size: 20px;
  padding-top: 2px;
}

.power button:hover label{
  color: #908caa;
}

