
@-moz-document domain(facebook.com) {
    body, html, header, #repository-container-header, .bgColor-muted, section{
        background-color: transparent !important;
    }
    .x1ve1bff {
        background-color: rgba(35, 33, 54, 0.5) !important;
        backdrop-filter: blur(20px) !important;
        border-radius: 0.7rem !important;
    }
    .x1jx94hy, .xlhe6ec {
        background-color: hsla(0,0%,100%,.08) !important;
    }
    .x6s0dn4.x1jx94hy, .xcrg951 {
        background-color: transparent !important;
    }
    .xmjcpbm {
        background-color: rgba(35, 33, 54, 0.5) !important;
    }
    .x1h0vfkc {
        background-color: rgba(35, 33, 54, 0.8) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 0.7rem !important;
    }
    .x1mh8g0r.x1jx94hy, .xmy5rp.x1jx94hy{
        background-color: rgba(35, 33, 54, 0.8) !important;
        backdrop-filter: blur(10px) !important;
    }
    .x2bj2ny  {
        background-color: transparent !important;
        border-radius: 0.7rem !important;
    }
    .xezm23g {
        background-color: rgba(35, 33, 54, 0.8) !important;
        backdrop-filter: blur(10px) !important;
        border-radius: 0.7rem !important;
    }
    .x443n21 {
        background-color: transparent !important;
        border-radius: 0.7rem !important;
    }
    .xal61yo, .xkhd6sd.x1jx94hy {
        background-color: transparent !important;
    }
    .x3lcxq5 {
        border-bottom: none !important;
    }
    .xpn8fn3 {
        border-bottom-color: transparent !important;
    }
    .x6zyg47 {
        border-top-color: transparent !important;
    }
    .xtct9fg {
        border-left-color: transparent !important;
    }
    .x1xm1mqw {
        border-right-color: transparent !important;
    }

    .x9f619.x1ja2u2z.__fb-dark-mode.x1xsqp64.x18d0r48.x78zum5.x1r8uery.xdt5ytf.x1iyjqo2.xmz0i5r.x6ikm8r.x10wlt62.x1n2onr6 {
        background-image: none !important;
    }

    .__fb-dark-mode {
        --messenger-card-background: transparent !important;
        --chat-incoming-message-bubble-background-color: #303030 !important;
        --chat-outgoing-message-background-gradient: #3e8fb05 !important;
    }

    .x148vw1v {
        border-inline-start-color: rgba(35, 33, 54, 0.8) !important;

    }
}

