
@-moz-document domain(google.com), domain(accounts.google.com), domain(mail.google.com), domain(drive.google.com) {
    .sfbg, .minidiv .sfbg {
        background-color: transparent !important;
        background: transparent !important;
        backdrop-filter: blur(20px);        
    }
    body, html, div#search > * , #gb {
        background-color: transparent !important;
    }
    .uU7dJb {
        border: none !important;
    }
    .g, .appbar, .c93Gbe, .f6F9Be, .JiJthb, .JiJthb .GKS7s:not([selected]) {
        background-color: transparent !important;
    }
    div#rso {
        * {
            background-color: transparent !important;
        }
    }
    div#cnt > div {

    }
    .RNNXgb, .Lu57id, .GKS7s, .fKmH1e {
        background-color: rgba(35, 33, 54, 0.5) !important;
    }
    .RNNXgb:hover, .sbhl {
        background-color: hsla(0,0%,100%,.08) !important;
    }
    .aajZCb, .WNN1b{
        background: rgba(35, 33, 54, 0.7) !important;
        backdrop-filter: blur(20px) !important; 
        box-shadow: 0 0px 0px 0 #171717 !important;
    }
    .aajZCb .lJ9FBc input, .aajZCb .lJ9FBc input:hover {
        background: hsla(0,0%,100%,.08) !important;
    }
    .gNO89b, .RNmpXc, .vIifob, .BaegVc:hover, .iRPzcb  {
        background: hsla(0,0%,100%,.08) !important;
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
    }
    .gNO89b:hover, .RNmpXc:hover, .vIifob:hover {
        border: 1px solid rgb(234, 154, 151) !important;
    }
    .b2hzT {
        border-bottom: none !important;
    }
    #swml {
      border-left: none !important;
    }
    #rhs .u7yw9 .cLjAic, .JryvJ .qS9jbf {
        border-bottom: 1px solid hsla(0,0%,100%,.08) !important;
    }
    #rhs .u7yw9 {
        border-left: 1px solid hsla(0,0%,100%,.08) !important;
    }
    .d5wodd:not([expanded]) .AGDyff {
        background: linear-gradient(to left,rgb(57, 53, 82) 0%,rgb(57, 53, 82) calc(100% - 55px),transparent) !important;
        border-radius: 0.4rem !important;
    }
    .tGYVp {
        background: rgb(57, 53, 82) !important;
    }
    .nz9sqb.EHzcec, .nz9sqb.EHzcec .LVal7b {
        background-color: rgba(35, 33, 54, 0.3) !important;
        backdrop-filter: blur(20px) !important;
    }
    .tX9u1b:hover, .aRDKUe .gAlnEe:hover {
        background: hsla(0,0%,100%,.08) !important;
    }
    .sHEJob, .zLPF4b {
        border-top: 1px solid hsla(0,0%,100%,.08) !important;
    }
    div#rso .ZFiwCf {
        background-color: hsla(0,0%,100%,.08) !important;
    }
    .tX9u1b:hover {
        box-shadow: inset 0 0 0 1px rgb(234, 154, 151) !important;
    }
    .aRDKUe .Lvwayc, .cF4V5c  {
        background: rgba(35, 33, 54, 0.8) !important;
        backdrop-filter: blur(20px) !important;
    }
    .aRDKUe .qLP7kc .jFfZdd {
        background: rgba(144, 140, 170, 0.3) !important;
    }
    .aRDKUe .bMnvr {
        background: rgba(144, 140, 170, 0.3) !important;
        backdrop-filter: blur(20px) !important;
    }
    .i0X6df {
        border: 1px solid hsla(0,0%,100%,.3) !important;
    }
    .sh-dtt__top-tools, .kH0Dhc {
        color: #fff !important;
    }
    .gy3Eif, div.Qy8Xkb {
        border-color: hsla(0,0%,100%,.4) !important;
    }
    input.jfk-textinput, .gGbPid{
        background: hsla(0,0%,100%,.1) !important;
        border-radius: 0.5rem !important;
    }
    .goog-flat-menu-button.goog-flat-menu-button-hover {
        background: rgba(35, 33, 54, 0.5) !important;
    }
    a {
        color:hsla(0,0%,100%,.6)
    }
    .b0KoTc {
        color: #e0def4 !important;
    }
}
