
@-moz-document domain(instagram.com) {
    body, html, header, #repository-container-header, .bgColor-muted, section{
        background-color: transparent !important;
    }
    .xvbhtw8, ._ar45, .xvbhtw8 {
      background-color: transparent !important;
    }
    .xopu45v {
      border-right-color: #ffffff30 !important;
    }
    .x5qyhuo, .x443n21, .x1h0vfkc {
      background-color: transparent !important;
    }
}

