
@-moz-document domain(youtube.com) {
    #background, #chips-wrapper, ytd-mini-guide-entry-renderer, #background.ytd-masthead  {
        background-color: transparent !important;
        backdrop-filter: blur(20px);
    }    
    body, html, ytd-app, ytd-mini-guide-renderer {
        background-color: transparent !important;
    }
    
    #main-window {
        --lwt-accent-color: transparent !important;
        --toolbar-bgcolor: transparent !important;
        --toolbar-field-background-color:  transparent !important;
    } 
    
    html[dark], [dark] {
        --yt-spec-base-background: transparent !important;
    }
    
    .ytSearchboxComponentInputBoxDark {
        background-color: hsla(0,0%,100%,.08) !important;
    }
    
    .ytSearchboxComponentSuggestionsContainer {
        background-color: rgba(35, 33, 54, 0.9) !important;
        backdrop-filter: blur(20px) !important;
    }
    * {
        isolation: isolate;
    }

}

