:root {
  --background-color: rgba(35, 33, 54, 0.5);
  --tabpanel-background-color: transparent !important;
}


#navigator-toolbox, #nav-bar {
  background-color: transparent !important;
  border: none !important;
}


#main-window {
  --lwt-accent-color: transparent !important;
  --toolbar-bgcolor: transparent !important;
  --toolbar-field-background-color:  transparent !important;
}

#urlbar, #urlbar-background, #PopupAutoCompleteRichResult {
  background-color: var(--background-color) !important;
  border-radius: 0.7rem !important;
  backdrop-filter: blur(5px);
}

.extensionPage {
  display: none !important;
}

#browser:not(.browser-toolbox-background), #sidebar, .sidebar-panel[lwt-sidebar] {
  background-color: transparent !important;
}

#tabbrowser-tabbox {
  box-shadow: none !important;
}

#contentAreaContextMenu {
  background-color: transparent !important; 
}

menupopup, panel  {
    /* To account for the box-shadow below */
    --panel-shadow-margin: 0px !important;
}


:root[tabsintitlebar="true"] #nav-bar{
  border-inline-width: calc(var(--uc-window-control-width,0px) + var(--uc-window-drag-space-post,0px)) var(--uc-window-drag-space-pre,0px)
}
:root[sizemode="fullscreen"] #TabsToolbar > .titlebar-buttonbox-container:last-child,
:root[sizemode="fullscreen"] #window-controls{ right: unset; }
.titlebar-buttonbox-container{
  order: -1 !important;
}
.titlebar-buttonbox{
  flex-direction: row-reverse;
}
/*
#tabbrowser-tabpanels {
  & browser[type="content"] {
    border-radius: 0.8rem !important;
    margin: 10px !important;
    box-shadow: 0 0 10px 1px #00000080;
  }*/