@import "./includes/youtube.css";
@import "./includes/google.css";
@import "./includes/chatgpt.css";
@import "./includes/reddit.css";
@import "./includes/newtab.css";
@import "./includes/facebook.css";
@import "./includes/github.css";
@import "./includes/messenger.css";
@import "./includes/instagram.css";
:root {
    --background-color: rgba(35, 33, 54, 0.5);
}
#browser:not(.browser-toolbox-background) {
  background-color: transparent !important;
}

html.private {
    --in-content-page-background: transparent !important;
}









