function e
    #command gedit $argv >/dev/null 2>&1 & disown
    xfce4-terminal -e "/home/miketeok/Documents/StandaloneApp/nvim-linux-x86_64/bin/nvim '$argv'"
end

function fixaudio
    ffmpeg -i "$argv[1]" -c:v copy -c:a pcm_s16le -ar 48000 "$argv[2]"
end

function trimvideo
    ffmpeg -ss "$argv[3]" -to "$argv[4]" -i "$argv[1]" -c:v libx264 -preset fast -crf 23 -c:a pcm_s16le -ar 48000 "$argv[2]"  
end

function nfetch
    neofetch --source ~/Documents/acsii.txt --ascii_colors 2 6 --colors 1 2 3 6 1 2
end

function setupinput
    sed 's/^[ \t]*//;s/[ \t]*$//' $argv[1] | sed '/^$/d' | sort | uniq > temp.txt && mv temp.txt $argv[1]
end

function setupresult
    sed -i 's/^[ \t]*//;s/[ \t]*$//' $argv[1]
end

function addB 
    setupresult output$argv[1].txt && python3 ../PyCharmProjects/ExcelDataInjector/main.py  Workfile\ \(2\).xlsx "WWT_EP" B file$argv[1].txt output$argv[1].txt
end

function openB 
    e file$argv[1].txt output$argv[1].txt
end

function launchMMwebapp
    /home/miketeok/Documents/scripts/start_MM_server.sh
end
