
window-frame, .window-frame:backdrop, .xfce4-panel menu  *  { box-shadow: 0 0 0 black; border-style: none; margin: 0px; border-radius: 0; box-shadow: none; }

.popover, .popover.background, popover { box-shadow: none; }

decoration { box-shadow: none; margin: 0px; }

.csd.popup { box-shadow: none; }

tooltip { margin: 0px; border-radius: 0px; box-shadow: none; } 

menu {
  border: none;
  background-color: rgba(35, 33, 54, 0);
  color: rgba(250, 244, 237, 0.7);
  border-radius: 0.7rem;
}

.background.csd { box-shadow: none; }

/********************
       General
*******************/

window{ 
background-color: rgba(35, 33, 54, 0.6);
border: none;}

grid, paned *, toolbar, menubar { 
background-color: rgba(35, 33, 54, 0);
border: none;}

paned treeview { background-color: rgba(35, 33, 54, 0) }
paned treeview:selected{ background-color: rgba(250, 244, 237, 0.5) }

/********************
    Window Manager
**********************/

.background {background-color: rgba(35, 33, 54, 0.6);}
.frame {background-color: rgba(35, 33, 54, 0);}
/*.view {background-color: transparent;}*/
.view:selected { background-color: rgba(250, 244, 237, 0.5) }

/********************
      Gedit
*******************/

window paned {background-color: rgba(35, 33, 54, 0);}
paned * {background-color: rgba(35, 33, 54, 0);}
headerbar  {background-color: rgba(35, 33, 54, 0.6);}
headerbar * {background-color: rgba(35, 33, 54, 0);}

.close.titlebutton {background-color: rgba(235, 111, 146, 0.6);}
.maximize.titlebutton {background-color: rgba(61, 143, 176, 0.6);}
.minimize.titlebutton {background-color: rgba(246, 193, 119, 0.6);}
text selection {background-color: rgba(86,82,110,0.5)}

.reorderable-page:checked .image-button.small-button {color: rgba(224, 222, 244, 0.8)}
.image-button.small-button {color: rgba(224, 222, 244, 0.5)}
.reorderable-page{background-color: rgba(86, 82, 110, 0.1)}
.reorderable-page:checked{background-color: rgba(86, 82, 110, 0.9)}

.warning * {color: #faf4ed;}

.warning, .warning .text-button {
    border: 1px solid rgba(246, 193, 119, 0.6);
    border-radius: 0.7rem;
}
/********************
      terminal
*******************/
VteTerminal, vte-terminal {
    padding-left: 5px; padding-right: 6px;
	padding-top: 11px; padding-bottom: 11px;
}


/********************
       Thunar
*******************/
.thunar .view:selected{ background-color: #606070; color: #fff;}


/********************
       whisker
*******************/
window#whiskermenu-window * {
  border-radius: 10px;
  background-color: rgba(35, 33, 54, 0);
  border: none;
}

window#whiskermenu-window > frame {
  background-color: rgba(35, 33, 54, 0.6);
}

window#whiskermenu-window entry.search:focus {
  background-color: rgba(235, 111, 146, 0);
}

window#whiskermenu-window > frame > border {
  box-shadow: 0 0 0 black; border-style: none; margin: 0px; border-radius: 0; box-shadow: none;
}

window#whiskermenu-window scrolledwindow.frame {
  padding: 3px;
  background-color: rgba(35, 33, 54, 0);
  border-radius: 12px;
}

window#whiskermenu-window scrolledwindow.frame treeview.view:focus {
  background-color: rgba(250, 244, 237, 0.12);
  color: #faf4ed;
}

window#whiskermenu-window scrolledwindow.frame.launchers-pane .view:hover {
    background-color: rgba(250, 244, 237, 0.12); 
    color: #9ccfd8;
}
window#whiskermenu-window scrolledwindow.frame.launchers-pane .view:selected {
    background-color: rgba(250, 244, 237, 0.12); 
    color: #9ccfd8;
}

/********************
       blueman
*******************/

#ManagerDeviceList {background-color: transparent;}
#ManagerDeviceList:hover {background-color: rgba(250, 244, 237, 0.1);}
#ManagerDeviceList {color: #fff;}
#ManagerDeviceList:selected {
background-color:  rgba(156, 207, 216, 0.5);
}

/********************
       calculator
*******************/
.sourceview.view {background-color: rgba(35, 33, 54, 0);}

/********************
       eww
*******************/
.background.powerbar {background-color: transparent;}

/********************
       Setting
*******************/
.exoiconview.view, .exoiconview.view .view {background-color: transparent; }

/*********************
 Xfce4-Screenshooter
*******************/

window.Xfce4-screenshooter {
    background-color: #000;
}
